<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1 class="text-center">Sobre mim</h1>
            <p class="text-center">Isso aqui é uma informação muito importante no sobre mim</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
