<!DOCTYPE html>

 <%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header'); %>

    <main>
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4 text-center">Node com EJS</h1>
            <p class="lead text-center">Aprendendo arquivos EJS</p>
        </div>
    </main>
    <%- include ('../partials/footer'); %>

</body>
</html>