
body{
    height: 100vh;
    margin: 0;
}

.box{
    height: calc(100%);
    width: 100%;
    background-image: url(https://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.box::after {
    content: "alguma mensagem";
    color: white;
}