*{
    margin: 0;
}

/* ID selector */

#container{
    width: 250px;
}

/* Class selector */

m-40{
    margin: 40px;
}

/* Element/Type selector + Agrupamento de seletores */

h1, h2 {
    color: blue;
    font-size: 60px;
    background: gray;
}