<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="absolute.css">
</head>
<body>

    <!-- O elemento de position absolute é 
        posicionado em relação ao seu parent element mais próximo 
        // ou será absoluto ao relativo que quiser-->

        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
</body>
</html>
